@import "../../styles/variables";

.navbar {
  position: fixed;
  background: rgba(
    red($primary-color),
    green($primary-color),
    blue($primary-color),
    0.5
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
}
