@import "styles/variables";

.App {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

body {
  background: $bg-color;
  height: 100vh;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}
